@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v29-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v29-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v36-latin-regular.woff2") format("woff2");
}
/* =============== CONTENTS =============== */
/* FONTS */
/* BOX-SIZING */
/* GLOBAL STYLES */
/* HELPER / GLOBAL COMPONENTS */
/* MEDIA QUERIES */

/*------------------------------------*\
  #FONT-FACE
\*------------------------------------*/

/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*------------------------------------*\
  #GLOBAL-STYLES
\*------------------------------------*/

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

/*------------------------------------*\
  #HELPER / GLOBAL COMPONENTS
\*------------------------------------*/

/* VISUALLY HIDING CODE */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  background-color: rgba(24, 31, 43, 1);
  max-width: 1440px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
/* HEADER */
.header__container {
  padding: 0 80px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  max-width: 176px;
  height: 52px;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.header__link {
  text-decoration: none;
  margin-right: 57px;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
/* INTRO */
.intro__container {
  max-width: 1440px;
  height: 1001px;
  padding: 0 360px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.intro__img {
  margin-top: 75px;
  max-width: 720px;
  height: 534px;
}
.intro__title {
  margin-top: 36px;
  margin-bottom: 32px;
  max-width: 734px;
  height: 120px;
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.intro__text {
  max-width: 589px;
  height: 90px;
  font-family: "OpenSans";
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.intro__button {
  margin-top: 32px;
  width: 280px;
  height: 56px;
  background-color: #63e1d9;
  box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.16);
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  border-radius: 60px;
  border: none;
  color: rgba(255, 255, 255, 1);
}
/* SERVISES */
.servises__container {
  overflow: hidden;
}
.servises__list {
  max-width: 880px;
  height: 508px;
  margin-left: 280px;
  padding: 0;
  margin-top: 158px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.servises__item {
  max-width: 349px;
  height: 215px;
  list-style-type: none;
}
.servises__item--img {
  max-width: 104px;
  height: 104px;
  margin-left: 123px;
}
.servises__item--title {
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.servises__item--text {
  max-width: 349px;
  height: 63px;
  font-family: "OpenSans";
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
/* INFO */
.info__container {
  padding-top: 136px;
  max-width: 1440px;
  height: 463px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info__img {
  margin-left: 105px;
  max-width: 614px;
  height: 463px;
  margin-left: 57px;
}
.info__text {
  margin-right: 105px;
  max-width: 502px;
  height: 282px;
}
.info__title {
  max-width: 498px;
  height: 100px;
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.info__description {
  max-width: 563px;
  height: 112px;
  font-family: "OpenSans";
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
/* COMMENTS */
.comments__container {
  overflow: hidden;
}
.comments__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1180px;
  height: 700px;
  list-style-type: none;
  margin: 50px auto 160px auto;
}
.comments__item {
  width: 360px;
  height: 200px;
  box-shadow: 5px 5px 8px 0px rgba(56, 56, 56, 0.1);
  background-color: rgba(32, 42, 60, 1);
}
.comments__text {
  margin-top: 40px;
  margin-left: 26px;
  width: 309.3px;
  height: 84px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.comments__description {
  font-family: "Open Sans";
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-top: 24px;
  margin-left: 26px;
}
/* CONTACT */
.contact {
  position: absolute;
  z-index: 9999;
  border-radius: 5px;
  overflow: hidden;
  margin-top: -250px;
  margin-left: 320px;
  width: 863px;
  height: 275px;
  background-color: rgba(27, 35, 48, 1);
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
}
.contact__title {
  margin-top: 42px;
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.contact__text {
  margin-top: 16px;
  margin-left: 95px;
  width: 673px;
  height: 42px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.contact__send {
  margin-top: 38px;
  margin-left: 77px;
  width: 709px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__input {
  padding: 16px 38px;
  width: 480px;
  height: 48px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 3px 6px 0px rgba(7, 4, 59, 0.16);
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  color: rgba(192, 192, 192, 1);
  border-radius: 50px;
  border: none;
}
.contact__button {
  width: 200px;
  height: 48px;
  background-color: #34a0cd;
  box-shadow: 2px 3px 6px 0px rgba(7, 4, 59, 0.16);
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  border: none;
}
/* FOOTER */
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  margin-top: -75px;
  width: 1441px;
  height: 517px;
  background-color: #0b1524;
}
.footer__logo {
  width: 176px;
  height: 52px;
  margin-left: 120px;
  margin-top: 200px;
}
.footer__description {
  width: 339px;
  height: 72px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-left: 120px;
  margin-top: 32px;
}
.footer__contact {
  width: 171px;
  height: 64px;
  margin-left: 80px;
  margin-top: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.footer__item {
  width: 69px;
  height: 136px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-top: 168px;
}
.footer__list {
  width: 81px;
  height: 136px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-top: 168px;
}
.footer__links {
  margin-top: 168px;
  margin-left: 114px;
}
@media only screen and (max-width: 376px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* HEADER */
  .header__container {
    width: 375px;
    padding-top: 24px;
    height: 48px;
  }
  .header__logo {
    margin-left: 20px;
    width: 80px;
    height: 24px;
  }
  .header__link {
    font-size: 12px;
    margin-right: 24px;
    line-height: 14px;
  }
  /* INTRO */
  .intro__container {
    width: 375px;
    height: 621px;
  }
  .intro__img {
    width: 304px;
    height: 225px;
    margin-top: 48px;
  }
  .intro__title {
    margin-top: 33px;
    margin-bottom: 15px;
    width: 320px;
    height: 108px;
    font-size: 24px;
    line-height: 36px;
  }
  .intro__text {
    font-size: 14px;
    line-height: 21px;
    width: 296px;
    height: 84px;
  }
  .intro__button {
    margin-top: 32px;
    width: 240px;
    height: 48px;
    font-size: 14px;
    line-height: 16px;
  }
  /* SERVISES */
  .servises__container {
    width: 375px;
    height: 1036px;
  }
  .servises__list {
    width: 375px;
    height: 935px;
    margin-left: 0;
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .servises__item {
    width: 320px;
    height: 199px;
    margin-bottom: 80px;
  }
  .servises__item--img {
    width: 80px;
    height: 80px;
  }
  .servises__item--title {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 24px;
  }
  .servises__item--text {
    width: 320px;
    height: 63px;
    font-size: 14px;
    line-height: 21px;
  }
  /* INFO */
  .info__container {
    width: 375px;
    height: 659px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info__img {
    margin-left: 10px;
    margin-top: 160px;
    width: 304px;
    height: 229.27px;
  }
  .info__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    width: 320px;
    height: 221px;
    margin-left: 105px;
  }
  .info__title {
    width: 293px;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
  }
  .info__description {
    width: 320px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 21px;
  }
  /* COMMENTS */
  .comments__container {
    width: 375px;
    height: 1037px;
  }
  .comments__list {
    margin-left: 25px;
    margin-top: 136px;
    width: 280px;
    height: 561px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comments__item {
    width: 280px;
    height: 160px;
    margin-top: 24px;
  }
  .comments__text {
    margin-top: 24px;
    margin-left: 20px;
    width: 240px;
    height: 72px;
    font-size: 10px;
    line-height: 18px;
  }
  .comments__description {
    width: 121px;
    height: 26px;
    margin-top: 17px;
    margin-left: 20px;
    font-size: 10px;
    line-height: 12px;
  }
  /* CONTACT */
  .contact {
    margin-top: -185px;
    margin-left: 20px;
    width: 336px;
    height: 353px;
    background-color: rgba(27, 35, 48, 1);
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
  }
  .contact__title {
    font-size: 18px;
    line-height: 24px;
  }
  .contact__text {
    margin-left: 28px;
    width: 280px;
    height: 84px;
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 21px;
  }
  .contact__send {
    margin-left: -190px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__input {
    width: 280px;
    height: 48px;
  }
  .contact__button {
    margin-top: 24px;
    margin-bottom: 37px;
    width: 280px;
    height: 48px;
  }
  /* FOOTER */
  .footer__container {
    width: 375px;
    height: 1104px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__description {
    margin-left: 28px;
    margin-top: 40px;
    margin-left: 28px;
  }
  .footer__contact {
    margin-top: 16px;
    margin-left: -5px;
  }
  .footer__item {
    margin-top: 80px;
    margin-left: 28px;
  }
  .footer__list {
    margin-top: 48px;
    margin-left: 28px;
  }
  .footer__links {
    margin-top: 80px;
    margin-left: 136px;
  }
  .footer__logo {
    margin-top: 320px;
    margin-left: 39px;
  }
}
